@import './colors.scss';
$header-height: 60px;

.card {
	@apply rounded-xl overflow-hidden shadow-md;
	border: 1px solid $gray-1;
}

.title {
	@apply text-4xl font-semibold mb-5 text-gray-800;
	letter-spacing: -0.02em;
	line-height: 37px;
}

.button {
	@apply bg-white text-red-500 hover:bg-red-500 hover:text-white py-2 px-3 rounded-full mx-auto text-xl shadow-md;
	@apply transition duration-100;
	&:hover {
		@apply shadow-xl;
	}
	&:active {
		@apply scale-90;
	}
}

.searchbar {
	border: 1px solid #e5e7eb;
	border-radius: 8px;
	width: 100%;
	height: 2rem;
	padding: 0 5px;

	&:focus-visible {
		@apply outline-none;
		border-color: #cbcdcf;
	}
}

@mixin lightShadow {
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@mixin customScrollbar {
	/* width */
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		// box-shadow: inset 0 0 5px grey;

		border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: $gray-1;
		border-radius: 10px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $gray-5;
	}
}

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
