@import 'styles/colors';

.overlay,
.button,
.count {
	border: 1px solid $gray-1;
}

.overlay {
	background-color: white;
	border-radius: 5px;
	width: 350px;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 10px;
	z-index: 1;
}
.button {
	cursor: pointer;
	@apply shadow-md;
	color: $gray-9;
	background-color: white;
	border-radius: 40px;
	margin: 0px auto;
	padding: 4px 14px;
	font-size: 1.1rem;
	transition: box-shadow 0.2s ease-in-out 0s;
	&.isActive {
		border-color: $gray-5;
	}
}

.slider {
	height: 250px;
	width: 250px;
}
